.msg-flash{
    background-color: rgb(246, 255, 0);
    color: rgb(186, 181, 51);
    padding: 13px 15px;
    border:1px solid rgb(59, 48, 9);
    border-radius: 5px;
    cursor:pointer;
    text-align:center;
}